jira==3.5.0; python_version == "3.9"
jira==3.10.5; python_version == "3.13"
oauthlib==3.3.1
pbr==7.0.1
PyJWT==2.10.1
python-dateutil==2.9.0
pytz==2025.2
requests_oauthlib==2.0.0
requests_toolbelt==1.0.0
